<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="NAZEV_DATABAZE"
			 connectionString="Data Source=ADRESA_SERVERU;Initial Catalog=NAZEV_DATABAZE;User ID=UZIVATELSKE_JMENO;Password=HESLO;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>

	<appSettings>
		<add key="LogFilePath" value="C:\Temp\gym_log.txt"/>
	</appSettings>
</configuration>